html {
    color: rgb(8, 8, 8);
}

body {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

body h1 {
    text-align: center;
}

.wishlist {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.wish {
    display: flex;
    height: 200px;
    width: 100%;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: black solid 2px;
    border-radius: 5px;
    font-size: 19px;  
}

@media screen and (min-width: 1024px) {
    .wish {
        font-size: 20px;
    }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .wish {
        font-size: 16px;
    }
}

a, .wish-image {
    display: block;
    height: 100%;
}

.wish-description {
    margin-left: 20px;
    height: 100%;
    width: 100%;
    vertical-align: top;
}